apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ ip }}
etcd:
  endpoints:
{% for node in groups['etcd'] %}
    - {{ etcd_prot }}://{{ node }}:{{ etcd_client_port }}
{% endfor %}
  caFile: {{ etcd_cert_dir }}/ca.pem
  certFile: {{ etcd_cert_dir }}/member-{{ etcd_name }}.pem
  keyFile: {{ etcd_cert_dir }}/member-{{ etcd_name }}-key.pem
  dataDir: {{ etcd_data_dir }}
apiServerCertSANs:
{% for node in groups['etcd'] %}
- {{ node }}
{% endfor %}
- 172.16.0.13
- 172.16.0.14
networking:
  podSubnet: {{ pod_network_cidr }}
kubernetesVersion: {{ kube_version }}
token: {{ kube_token }}
nodeName: {{ hostname }}
controllerManagerExtraArgs:
  pod-eviction-timeout: 5s 