ETCD_NAME={{ ansible_enp0s8.ipv4.address }}
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_enp0s8.ipv4.address }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_enp0s8.ipv4.address }}:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_enp0s8.ipv4.address }}:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_enp0s8.ipv4.address }}:{{ etcd_client_port }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_token }}"
ETCD_INITIAL_CLUSTER="{% for node in groups['etcd-ip'] %}{{ node }}={{etcd_prot}}://{{ node }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR={{ data_dir }}

