- hosts: localhost
  become: yes
  become_method: sudo
  vars_files:
  - "inventories/vagrant/group_vars/all" 
  tasks:
  - name: hosts yo!
    template:
      src: roles/vagrant/templates/hosts.j2
      dest: /etc/hosts
      owner: root
      group: root
      mode: 0644
  - name: Ensure no_proxy env is set
    when: proxy == true
    lineinfile:
      path: /root/.bashrc
      line: "export no_proxy='.{{ domain }},localhost,{{ kube_master_ip }}'"
  - name: deactivate hostkey checks for kubes
    blockinfile:
      path: /etc/ssh/ssh_config
      block: |
        Host kube-*
          StrictHostKeyChecking no
          UserKnownHostsFile=/dev/null
  - name: Ensure ssh has restarted
    systemd:
      state: restarted
      name: ssh
  roles:
  - users